<footer class="grid grid-cols-3 p-2 border-t-[1px] border-black">
    <div class="flex flex-col justify-center items-center text-center space-y-2">
        <h1 class="text-xl">Useful Links</h1>
        <ul class="flex flex-col justify-center items-center text-center">
            <a href="/recipes" class="hover:underline text-md">Check Recipes</a>
            <a href="/about" class="hover:underline text-md">About Fantasty</a>
            <a href="/signin" class="hover:underline text-md">Login</a>
            <a href="/signup" class="hover:underline text-md">Create Account</a>
        </ul>
    </div>
    <div class="flex flex-col justify-center items-center text-center p-2 space-y-2">
        <h1 class="text-xl">Subscribe to newsletter</h1>
        <form class="flex flex-col justifty-center items-center text-center space-y-2">
            <input type="text" placeholder="example@company.com" class="border-black border-[1px] rounded-md p-2">
            <app-button title="Submit"></app-button>
        </form>
    </div>
    <div class="flex flex-col justify-center items-center text-center p-2 space-y-2">
        <h1 class="text-xl">Our Socials</h1>
        <ul class="flex flex-col justify-center items-center text-center">
            <a href="/recipes" class="hover:underline text-md">Facebook</a>
            <a href="/about" class="hover:underline text-md">Instagram</a>
            <a href="/signin" class="hover:underline text-md">Youtube</a>
            <a href="/signup" class="hover:underline text-md">Discord</a>
        </ul>
    </div>
</footer>