<footer class="grid grid-cols-3 p-2 border-t-[1px] border-black animate-fade-in max-sm:flex max-sm:flex-col max-sm:space-y-4">
    <div class="flex flex-col justify-center items-center text-center space-y-2 max-sm:border-b-[1px] border-black max-sm:py-2">
        <h1 class="text-xl">Useful Links</h1>
        <ul class="flex flex-col justify-center items-center text-center">
            <a href="/recipes" class="hover:underline text-md">Check Recipes</a>
            <a href="/about" class="hover:underline text-md">About Fantasty</a>
            <a href="/auth" class="hover:underline text-md">Go To Account</a>
        </ul>
    </div>
    <div class="flex flex-col justify-center items-center text-center p-2 space-y-2 max-sm:border-b-[1px] border-black max-sm:py-2 max-sm:hidden">
        <h1 class="text-xl">Subscribe to newsletter</h1>
        <form class="flex flex-col justifty-center items-center text-center space-y-2">
            <input type="text" placeholder="example@company.com" class="border-black border-[1px] rounded-md p-2">
            <app-button title="Submit"></app-button>
        </form>
    </div>
    <div class="flex flex-col justify-center items-center text-center p-2 space-y-2      max-sm:py-2">
        <h1 class="text-xl">Our Socials</h1>
        <ul class="flex flex-col justify-center items-center text-center">
            <a href="/recipes" class="hover:underline text-md">Facebook</a>
            <a href="/about" class="hover:underline text-md">Instagram</a>
            <a href="/signin" class="hover:underline text-md">Youtube</a>
            <a href="/signup" class="hover:underline text-md">Discord</a>
        </ul>
    </div>
</footer>