<div class="grid grid-cols-2 grid-rows-2 w-[100%] h-[100vh]">
    <!-- First quadrant -->
    <div class="flex flex-col justify-center items-center text-center space-y-2">
        <h1 class="text-7xl font-bold">Fresh Food</h1>
                    <h1 class="text-7xl font-bold"> <span class="font-mono font-normal text-orange-400">With</span> Great Health</h1>
                    <p class="max-w-[500px] text-lg">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Excepturi esse vero aliquid quae? Eligendi repudiandae fugiat voluptatum porro!
                    Repellat minima optio ut earum eligendi vel suscipit modi maxime repudiandae voluptatum.
                    </p>
                    <form>
                        <div class="flex space-x-1">
                            <input type="text" class="py-4 px-8 rounded-3xl border-[1px] border-black" placeholder="Find a healthy and tasty recipes">
                            <div class="bg-orange-400 hover:bg-orange-500 rounded-full flex justify-center items-center text-center px-5 cursor-pointer">
                                <img src="assets/search.svg" alt="search" class="w-[20px]">
                            </div>
                        </div>
                    </form>
    </div>

    <!-- Second quadrant -->
    <div class="flex flex-col justify-center items-center text-center">
        <div class="flex flex-col justify-end items-center text-center  img-container pb-6 hover:brightness-75 hover:cursor-pointer">
            <h1 class="text-3xl text-white font-semibold shadow-black">Nourish, Energize and Thrive</h1>
        </div>
    </div>

    <!-- Third quadrant -->
    <div class="flex flex-col justify-center items-center text-center ">
        <div class="flex justify-center items-end text-center bg-orange-400 w-[60%] h-[90%] rounded-[60px] space-x-4">
            <div class="flex flex-col justify-center items-center text-center pb-16 space-y-2  p-4 hover:bg-gray-500 hover:rounded-t-[60px] hover:text-white hover:cursor-pointer">
                <img src="assets/steak.jpeg" alt="steak" class="w-[120px] h-[120px] rounded-full">
                <h1 class="text-xl font-semibold font-mono">Steak</h1>
                <h1 class="text-xl font-mono">50$</h1>
            </div>
            <div class="flex flex-col justify-center items-center text-center pb-16 space-y-2  p-4 hover:bg-gray-500 hover:rounded-t-[60px] hover:text-white hover:cursor-pointer">
                <img src="assets/pizza.jpeg" alt="steak" class="w-[120px] h-[120px] rounded-full">
                <h1 class="text-xl font-semibold font-mono">Pizza</h1>
                <h1 class="text-xl font-mono">15$</h1>
            </div>
            <div class="flex flex-col justify-center items-center text-center pb-16 space-y-2  p-4 hover:bg-gray-500 hover:rounded-t-[60px] hover:text-white hover:cursor-pointer">
                <img src="assets/salad.jpeg" alt="steak" class="w-[120px] h-[120px] rounded-full">
                <h1 class="text-xl font-semibold font-mono">Salad</h1>
                <h1 class="text-xl font-mono">10$</h1>
            </div>
        </div>
    </div>

    <!-- Fourth quadrant -->
    <div class="flex flex-col justify-center items-center text-center ">
        <h1>Xuro x Batoni Gochiko</h1>
    </div>
</div>

            
            