.img-container {
    width: 60%;
    height: 90%;
    background-image: url(../../../assets/indeximg1.png);
    background-size: cover;
    border-radius: 60px;
}

.dish-item1 {
    background-image: url(../../../assets/tomato-chesse.png);
    background-size: cover;
    background-position: center;
}

.dish-item2 {
    background-image: url(../../../assets/pizza.jpeg);
    background-size: cover;
    background-position: center;
}

.dish-item3 {
    background-image: url(../../../assets/steak.jpeg);
    background-size: cover;
    background-position: center;
}