    <div class="flex flex-col justify-center items-center text-center py-[50px] space-y-10 animate-fade-in">
        <div class="flex flex-col justify-center items-center text-center py-6 space-y-4">
            <h1 class="text-7xl font-bold max-w-[500px]">
                Make Food <span class="font-mono font-normal text-orange-400">With</span> Great Taste
            </h1>
            <p class="max-w-[500px] text-lg text-center">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Excepturi esse vero aliquid quae? Eligendi repudiandae fugiat voluptatum porro!
                Repellat minima optio ut earum eligendi vel suscipit modi maxime repudiandae voluptatum.
            </p>
            <div>
                <a href="recipes">
                    <app-button title="Explore Recipes"></app-button>
                </a>
            </div>
        </div>
    </div>
