<div class="flex flex-col justify-center items-center text-center py-8 animate-fade-in">
    <h1 class="text-3xl">Our <span class="text-orange-400">Recipes</span></h1>
    <div class="flex flex-wrap justify-center items-center text-center px-14 py-4">
        <ng-container *ngIf="isDataLoading">
            <img src="assets/loading.gif" alt="laoding" class="w-[160px]">
            <h1 class="text-2xl">Recipes are loading...</h1>
        </ng-container>
        <ng-container *ngIf="!isDataLoading">
            <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe"></app-recipe-card>
        </ng-container>
    </div>
</div>
